<!DOCTYPE html>
<html lang="en">
<html ng-app="moviesApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular.js/1.6.9/angular.min.js"></script>
</head>
<body>
    <h1>Movies</h1>
    <form>
        <input type="text" placeholder="Title" ng-model="movie.name">
        <input type="text" placeholder="Rating" ng-model="movie.rating">
        <input type="text" placeholder="Release Date" ng-model="movie.releaseDate">
        <input type="text" placeholder="Length" ng-model="movie.length">
        <button type="submit">Add Movie</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Rating</th>
                <th>Release Date</th>
                <th>Length</th>
            </tr>
            <tbody>
                <tr>
                    <td>Terminator</td>
                    <td>8.0</td>
                    <td>11/3/2019</td>
                    <td>120</td>
                </tr>
                <tr>
                    <td>Terminators</td>
                    <td>8.0</td>
                    <td>10/3/1993</td>
                    <td>118</td>
                    </tr>
            </tbody>
        </thead>
    </table>
</body>
</html>